@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container .background-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 200vh;
  z-index: -100;
}
.container .background-container .space-container {
  width: 100vw;
  height: 200vh;
}
.container .background-container .space-container .background {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container .background-container .moon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}
.container .rocket-conatiner {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 10;
}
.container .rocket-conatiner .rocket {
  width: 100%;
  height: 100%;
}
.container .rocket-conatiner .no-fire {
  position: absolute;
  top: 0;
  right: 0;
}
.container .rocket-conatiner .fire {
  position: absolute;
  top: 0;
  right: 0;
}
.container .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  z-index: 100;
}
.container .stats-container .stat-text {
  display: inline-block;
  font-size: 2.5rem;
  color: white;
}

@-webkit-keyframes backgroundScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes backgroundScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}