@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root,
input,
button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container .start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 58);
}
.container .start-screen .heading {
  font-size: 2.5rem;
  color: white;
}
.container .start-screen .rules {
  font-size: 1.5rem;
  color: gray;
  text-decoration: underline;
}
.container .start-screen .options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  min-width: 800px;
  background-color: rgba(32, 32, 32, 0.9);
  border-radius: 5px;
}
.container .start-screen .options-container .setting-container {
  width: 100%;
  padding: 15px;
}
.container .start-screen .options-container .setting-container .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
  font-size: 2rem;
}
.container .start-screen .options-container .setting-container .label .slider {
  width: 60%;
}
.container .start-screen .options-container .setting-container .label .slider:hover, .container .start-screen .options-container .setting-container .label .slider:active, .container .start-screen .options-container .setting-container .label .slider:focus {
  cursor: pointer;
}
.container .start-screen .start-button {
  font-size: 1.5rem;
  color: black;
  padding: 15px 25px;
  background-color: lightGreen;
  border-radius: 5px;
  border: none;
  -webkit-transition-duration: 100ms;
       -o-transition-duration: 100ms;
          transition-duration: 100ms;
}
.container .start-screen .start-button:hover, .container .start-screen .start-button:active, .container .start-screen .start-button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.container .play-screen {
  display: none;
}
.container .play-screen .background-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 200vh;
  z-index: -100;
}
.container .play-screen .background-container .space-container {
  width: 100vw;
  height: 200vh;
}
.container .play-screen .background-container .space-container .background {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container .play-screen .background-container .moon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}
.container .play-screen .rocket-conatiner {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 10;
}
.container .play-screen .rocket-conatiner .rocket {
  width: 100%;
  height: 100%;
}
.container .play-screen .rocket-conatiner .no-fire {
  position: absolute;
  top: 0;
  right: 0;
}
.container .play-screen .rocket-conatiner .fire {
  position: absolute;
  top: 0;
  right: 0;
}
.container .play-screen .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  z-index: 100;
}
.container .play-screen .stats-container .stat-text {
  display: inline-block;
  font-size: 2.5rem;
  color: white;
}
.container .play-screen .fuel-choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  padding: 20px 15px;
  background-color: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
}
.container .play-screen .fuel-choice-container .fuel-choice-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: white;
}
.container .play-screen .fuel-choice-container .fuel-choice-label .fuel-input {
  padding: 5px;
  width: 100px;
  border: none;
  outline: none;
}
.container .play-screen .fuel-choice-container .fuel-choice-label .fuel-input:focus {
  border: none;
  outline: none;
}
.container .play-screen .fuel-choice-container .fuel-submit {
  padding: 5px 10px;
  font-size: 1;
  border: none;
}
.container .play-screen .fuel-choice-container .fuel-submit:hover, .container .play-screen .fuel-choice-container .fuel-submit:focus, .container .play-screen .fuel-choice-container .fuel-submit:active {
  cursor: pointer;
}

@-webkit-keyframes backgroundScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes backgroundScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}