* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.background-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 200vh;
		animation: backgroundScroll 5s linear forwards; // This will be played when the player is almost done

		.space-container {
			width: 100vw;
			height: 200vh;
			// animation: backgroundScroll 5s linear infinite; This is played while player is coming

			.background {
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}

		.moon {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100vw;
		}
	}

	.rocket-conatiner {
		margin: auto;
		width: 300px;
		height: 300px;
		z-index: 10;
		position: relative;

		.rocket {
			width: 100%;
			height: 100%;
		}

		.no-fire {
			position: absolute;
			top: 0;
			right: 0;
		}

		.fire {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@keyframes backgroundScroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-50%);
	}
}
