@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

img {
	user-select: none;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.background-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 200vh;
		// animation: backgroundScroll 5s linear forwards; // This will be played when the player is almost done
		z-index: -100;

		.space-container {
			width: 100vw;
			height: 200vh;
			// animation: backgroundScroll 5s linear infinite; // This is played while player is coming

			.background {
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}

		.moon {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100vw;
		}
	}

	.rocket-conatiner {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 300px;
		height: 300px;
		z-index: 10;

		.rocket {
			width: 100%;
			height: 100%;
		}

		.no-fire {
			position: absolute;
			top: 0;
			right: 0;
		}

		.fire {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.stats-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 15px;
		margin: 15px;
		width: fit-content;
		background-color: rgba(99, 99, 99, 0.9);
		border-radius: 5px;
		z-index: 100;

		.stat-text {
			display: inline-block;
			font-size: 2.5rem;
			color: white;
		}
	}
}

@keyframes backgroundScroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-50%);
	}
}
