@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root,
input,
button {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

img {
	user-select: none;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.start-screen {
		display: flex;
		// display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		width: 100vw;
		height: 100vh;
		background-color: rgb(15, 15, 58);

		.heading {
			font-size: 2.5rem;
			color: white;
		}

		.rules {
			font-size: 1.5rem;
			color: gray;
			text-decoration: underline;
		}

		.options-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 50px;
			min-width: 800px;
			background-color: rgba(32, 32, 32, 0.9);
			border-radius: 5px;

			.setting-container {
				width: 100%;
				padding: 15px;

				.label {
					display: flex;
					justify-content: space-between;
					width: 100%;
					color: white;
					font-size: 2rem;

					.slider {
						width: 60%;

						&:hover,
						&:active,
						&:focus {
							cursor: pointer;
						}
					}
				}
			}
		}

		.start-button {
			font-size: 1.5rem;
			color: black;
			padding: 15px 25px;
			background-color: lightGreen;
			border-radius: 5px;
			border: none;
			transition-duration: 100ms;

			&:hover,
			&:active,
			&:focus {
				cursor: pointer;
				transform: scale(1.2);
			}
		}
	}

	.play-screen {
		display: none;

		.background-container {
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: 200vh;
			animation: backgroundScroll 5s linear forwards; // This will be played when the player is almost done
			z-index: -100;

			.space-container {
				width: 100vw;
				height: 200vh;
				animation: backgroundScroll 5s linear infinite; // This is played while player is coming

				&.end {
					animation: finalbackgroundScroll 5s linear infinite !important; // This is played while player is coming
				}

				.background {
					width: 100%;
					height: 100%;
					z-index: -1;
					z-index: 5;
				}
			}

			.moon {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100vw;
			}
		}

		.rocket-conatiner {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);
			width: 300px;
			height: 300px;
			z-index: 10;

			.rocket {
				width: 100%;
				height: 100%;
			}

			.no-fire {
				position: absolute;
				top: 0;
				right: 0;

				&.animate {
					animation: rocketAnimation 5s linear forwards; // This is played while player is coming
				}
			}

			.fire {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.stats-container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 15px;
			margin: 15px;
			width: fit-content;
			background-color: rgba(99, 99, 99, 0.9);
			border-radius: 5px;
			z-index: 100;

			.stat-text {
				display: inline-block;
				font-size: 2.5rem;
				color: white;
			}
		}

		.fuel-choice-container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			position: absolute;
			right: 100px;
			bottom: 100px;
			padding: 20px 15px;
			background-color: rgba(99, 99, 99, 0.9);
			border-radius: 5px;

			.fuel-choice-label {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 20px;
				color: white;

				.fuel-input {
					padding: 5px;
					width: 100px;
					border: none;
					outline: none;

					&:focus {
						border: none;
						outline: none;
					}
				}
			}

			.fuel-submit {
				padding: 5px 10px;
				border: none;

				&:hover,
				&:focus,
				&:active {
					cursor: pointer;
				}
			}
		}

		.final-message {
			display: none;
			position: absolute;
			top: 30%;
			right: 50%;
			transform: translate(50%, 30%);

			.heading {
				font-size: 3rem;
				color: white;
			}
		}
	}
}

@keyframes backgroundScroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes finalBackgroundScroll {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes rocketAnimation {
	0% {
		top: 0%;
	}

	100% {
		top: 70%;
	}
}
